/*******************************************************************************************
 #
 #  File Name:  style.css
 #
 #  File Description:
 #      This css file, style.css, contains the css code for the Aviation Accidents 
 #      Analysis Project's visualization maps.
 #
 #
 #  Date            Description                             Programmer
 #  ----------      ------------------------------------    ------------------
 #  10/18/2023      Initial Development                     N. James George
 #
 #******************************************************************************************/

#mapid,
body,
html 
{
  height: 95%;
}

body 
{
  margin: 0;
  padding: 0;
}

h3 
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 2px;
}

p 
{
  font-family: Arial, Helvetica, sans-serif;
  margin: -5px;
  padding: -6px;
}

label 
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  padding: 10px;
}

.info 
{
  border-radius: 5px;
  padding: 1px 10px;
  background: #ebfae2;
}

.legend 
{
  color: #000000;
  line-height: 25px;
}

.legend i 
{
  float: right;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 0.75;
}